body {
    background-color: papayawhip;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(78, 138, 154);
    color: rgb(245, 244, 244);
    font-family: Arial;
    margin: 0px;
    padding: 5px;

}

header {
    background-color: rgb(131, 23, 23);
    color: rgb(0, 0, 7);
    padding: 5px;
    font-size: 19pt;

}

footer {
    background-color: rgb(131, 23, 23);
    color: rgb(0, 0, 7);
    padding: 5px;
    font-size: 14pt;
    margin: 0px;
    font-style: italic;
    text-align: right
}

a {
    text-decoration: none
}